<div class="container">
    <h1>Welcome to Connect 4!</h1>
    <div class="board">
        <div class="button">
            <% submit_tag '1', class: 'button' %>
        </div>
    </div>


   <%= link_to 'start!', connect4_init_path, method: :post %>
</div>