.circle {
  height: 96px;
  width: 96px;
  background-color: yellow;
  border-radius: 100%;
  margin: 0;
}

.pink{
  background-color: pink;
}

.blue{
  background-color: blue;
}

.hide{
  display:none
}